<template>
  <div>
    <v-row class="py-0 mx-4">
      <v-icon>mdi-magnify</v-icon>

      <v-divider vertical class="mx-3 my-3"/>

      <v-col class="px-0">
        <input v-model="filtro" placeholder="Filtro" class="text--secondary campo-texto"/>
      </v-col>

      <slot name="append"></slot>
    </v-row>
    <v-divider></v-divider>
  </div>
</template>

<script>
  export default {
      name:'BarraFiltro',
      props: {
          value: {
              type: String,
              default: ''
          }
      },
      data() {
          return {
              filtro: this.value
          };
      },
      watch: {
          value(newValue) {
              this.filtro = newValue;
          },
          filtro(newValue) {
              this.$emit('input', newValue);
          }
      }
  };
</script>

<style scoped>
.campo-texto {
    height: 38px;
    font-size: 12pt;
    font-weight: 600;
    width: 100%;
}
</style>
