<template>
  <div>
    <v-row dense no-gutters>
      <v-col cols="6">
        <v-sheet class="text-center white--text mx-3" color="teal">
          {{ $t('cache') }}
          <v-btn text @click="abrirAusentesCache = true"
                 v-if="comparador.atributosAusentesNoContextoCache && comparador.atributosAusentesNoContextoCache.length !== 0">
            {{ $t('faltantes') }}
          </v-btn>
        </v-sheet>
        <contexto-component v-model="comparador.diferencaCache" :page-externo="page"
                            :page-count-externo.sync="pageCount"
                            :filtro="filtroContexto" limitar-comentario/>
      </v-col>
      <v-col cols="6">
        <v-sheet class="text-center white--text mx-3" color="teal">
          {{ $t('salvo') }}
          <v-btn text @click="abrirAusentesSalvo = true"
                 v-if="comparador.atributosAusentesNoContextoSalvo && comparador.atributosAusentesNoContextoSalvo.length !== 0">
            {{ $t('faltantes') }}
          </v-btn>
        </v-sheet>
        <contexto-component v-model="comparador.diferencaSalvo" :page-externo="page"
                            :page-count-externo.sync="pageCount"
                            :filtro="filtroContexto" limitar-comentario/>
      </v-col>
    </v-row>
    <v-toolbar flat dense class="pa-0 d-flex justify-center">
      <v-pagination v-model="page" color="secondary"
                    :length="pageCount"
                    :total-visible="7"
      />
    </v-toolbar>
    <una-dialog v-model="abrirAusentesSalvo" somente-ok @click:ok="abrirAusentesSalvo = false">
      <contexto-component v-model="comparador.atributosAusentesNoContextoSalvo"/>
    </una-dialog>
    <una-dialog v-model="abrirAusentesCache" somente-ok @click:ok="abrirAusentesCache = false">
      <contexto-component v-model="comparador.atributosAusentesNoContextoCache"/>
    </una-dialog>
  </div>
</template>
<script>
import ContextoComponent from "una-vue-app/lib/js/components/ContextoComponent"
import UnaDialog from 'una-vue-app/lib/js/components/UnaDialog'

export default {
    nome:'ComparadorContexto',
    components: {
        ContextoComponent,
        UnaDialog
    },
    props: {
        value: Object,
        filtroContexto: {},
    },
    data(){
        return{
            comparador: this.informaComparador(this.value),
            page: 0,
            pageCount: 0,

            abrirAusentesSalvo: false,
            abrirAusentesCache: false
        }
    },
    watch:{
        value(newValue){
            this.onValueChanged(newValue)
        }
    },
    methods:{
        mounted() {
            this.page = 1
        },
        onValueChanged(newValue) {
            this.page = 1
            this.comparador = this.informaComparador(newValue)
        },
        informaComparador(value) {
            if (value) {
                return value
            }
            return {
                atributosAusentesNoContextoCache:[],
                atributosAusentesNoContextoSalvo:[],
                diferencaSalvo:[],
                diferencaCache:[],
            }
        }
    }
}
</script>
<style scoped>
>>> .v-toolbar--dense {
    border-top: #DDDDDD solid 1px;
    background-color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 5px 50px 5px 0;
    margin-left: 0;
    width: 100%;
}
</style>
