<template>
  <div>

    <p class="text-center py-12 grey--text darken-2" v-if="!atributosContexto">Contexto não encontrado</p>

    <v-data-table :items-per-page="itemsPerPage" item-key="uuid" dense disable-sort :search="filtro"
                  class="elevation-0  py-0 mx-md-3  " v-else
                  @page-count="pageCount = $event" :page.sync="page" hide-default-footer
                  :headers="headersContexto" :items="atributosContexto">
      <template #item.nome="{item}">
        <span style="width: 200px; overflow-wrap: break-word; display: inline-block !important"
              class="caption font-weight-medium ">{{ item.nomeCompleto ? item.nomeCompleto : item.nome }}</span>
        <div>
          <v-chip x-small dark label :color="buscaCorTipo(item)" class="mr-1">{{ item.tipo }}</v-chip>

          <v-chip x-small label outlined color="green" v-show="item.editavel != false" class="mr-1">Editavel</v-chip>
          <v-chip x-small label outlined color="orange" v-show="item.valorAbsoluto" class="mr-1">valorAbsoluto</v-chip>
          <v-chip x-small label outlined color="yellow" v-show="item.auxiliar" class="mr-1">auxiliar</v-chip>
        </div>
      </template>
      <template #item.valor="{item}">
        <span style="width: 120px; overflow-wrap: break-word; display: inline-block !important" class="caption">
          {{ item.valor }}
        </span>
      </template>

      <template #item.especificacao.estadosPossiveis="{item}">
        <div v-if="item.especificacao" style="width: 100px;">

          <v-select :value="item.valor" :items="item.especificacao.estadosPossiveis" dense class="caption" flat
                    solo hide-details background-color="grey lighten-4" full-width item-disabled="60"
                    v-if="item.especificacao.estadosPossiveis"/>

        </div>
      </template>
      <template #item.especificacao.restricoes="{item}">
        <template v-if="item.especificacao && item.especificacao.restricoes">
          <v-chip x-small v-show="item.especificacao.restricoes.menor" color="red lighten-3">
            &lt; {{ item.especificacao.restricoes.menor }}
          </v-chip>
          <v-chip x-small v-show="item.especificacao.restricoes.maior" color="red lighten-3">
            &gt; {{ item.especificacao.restricoes.maior }}
          </v-chip>
          <v-chip x-small v-show="item.especificacao.restricoes.maiorOuIgual" color="red lighten-3">
            &gt;= {{ item.especificacao.restricoes.maiorOuIgual }}
          </v-chip>
          <v-chip x-small v-show="item.especificacao.restricoes.menorOuIgual" color="red lighten-3">
            &lt;= {{ item.especificacao.restricoes.menorOuIgual }}
          </v-chip>
        </template>
      </template>
      <template #item.comentario="{item}">
        <span class="caption" v-if="limitarComentario && item.comentario && item.comentario.length >= 20" :title="item.comentario">
          {{ item.comentario.substring(0,20)+".." }}</span>
        <span class="caption" v-else >{{ item.comentario }}</span>
      </template>
    </v-data-table>

    <v-toolbar flat dense class="pa-0 d-flex justify-center" v-if="paginacaoLocal">
      <v-pagination
              v-model="page" color="secondary"
              :length="pageCount"
              :total-visible="7"
      ></v-pagination>
    </v-toolbar>
  </div>
</template>

<script>
  import UnaToolbarCard from 'una-vue-app/lib/js/components/UnaToolbarCard.vue';
  import UnaTextField from "una-vue-app/lib/js/components/UnaTextField";
  import UnaComboField from "una-vue-app/lib/js/components/UnaComboField";

  export default {
      name:'ContextoComponent',
      components: {
          UnaTextField,
          UnaComboField,
          UnaToolbarCard,
      },
      props: {
          value: Array,
          pageExterno: Number,
          pageCountExterno: Number,
          filtro: String,
          limitarComentario: { type: Boolean, default: false}
      },
      data(){
          return{
              atributosContexto : null,
              page : 1,
              pageCount : 0,
              itemsPerPage : 13,
              paginacaoLocal : true
          }
      },
      created() {
          this.handleResize();
      },
      watch:{
          value: {
              immediate: true, //mounted
              handler(newValue) {
                  this.page = 1;
                  this.atributosContexto = newValue;
              },
          },
          pageExterno(newPageExrerno){
              this.paginacaoLocal = false
              this.page = newPageExrerno
          },
          pageCount(value){
              this.$emit("update:pageCountExterno", value)
          }
      },
      computed:{
          headersContexto() {
              return [
                  {value: 'codigoRetorno', text: 'Código Retorno', width: '30px', align: 'end'},
                  {value: 'nome', text: 'Nome'},
                  // {value: 'tipo', text: 'Tipo'},
                  {value: 'valor', text: 'Valor', width: '100px', align: "center"},
                  {value: 'especificacao.estadosPossiveis', text: 'Estados Possíveis', width: '100px'},
                  {value: 'especificacao.restricoes', text: 'Restrições', width: '100px'},
                  // {value: 'valorAbsoluto', text: 'Absoluto'},
                  // {value: 'auxiliar', text: 'Auxiliar'},
                  // {value: 'editavel', text: 'Editável'},
                  {value: 'comentario', text: 'Comentário'},
              ]
          },
          corTipo() {
              let map = new Map()
              map.set('STRING', 'secondary')
              map.set('INTEGER', 'accent')
              map.set('BOOLEAN', 'teal')
              map.set('DOUBLE', 'indigo')
              map.set('DATA', 'blue')
              map.set('COLLECTION', 'cyan')
              map.set('DINAMIC_COLLECTION', 'light-blue')

              return map
          }
      },
      methods:{
          handleResize() {
              let tam = Math.trunc((window.innerHeight - (this.selecionavel ? 415 : 215)) / 48);
              let novoTam = (tam < 3 ? 3 : tam) - 1;
              if (novoTam != this.itemsPerPage) {
                  this.itemsPerPage = novoTam;
              }
          },
          buscaCorTipo(atributo) {
              return this.corTipo.get(atributo.tipo) || 'black'
          },
      },
      destroyed() {
          window.removeEventListener('resize', this.handleResize)
      }
  }
</script>

<style scoped>

</style>
