<template>
  <div>
    <div class="crop-wrapper">
      <div class="content">
        <section class="cropper-area">

          <div class="img-cropper mt-3" v-if="imagemProcessada">
            <vue-cropper ref="cropper" :aspect-ratio="largura / altura" :src="imagemProcessada" preview=".preview"/>
          </div>

          <div class="actions">

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-icon @click.prevent="rotate(-90)" color="grey" v-bind="attrs" v-on="on">
                  mdi-arrow-left
                </v-icon>
              </template>
              <span>Girar para esquerda</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-icon @click.prevent="rotate(90)" color="grey" v-bind="attrs" v-on="on">
                  mdi-arrow-right
                </v-icon>
              </template>
              <span>Girar para direita</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-icon @click.prevent="cropImage" color="grey" v-bind="attrs" v-on="on">
                  mdi-crop
                </v-icon>
              </template>
              <span>Recortar</span>
            </v-tooltip>

            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-icon @click.prevent="reset" color="grey" v-bind="attrs" v-on="on">
                  mdi-lock-reset
                </v-icon>
              </template>
              <span>Resetar</span>
            </v-tooltip>
          </div>

        </section>
        <section class="preview-area" v-if="cropImg">
          <v-card-title class="grey lighten-4">
            <v-icon color="primary" class="pr-3">mdi-check</v-icon>
            <span>{{subTitulo}}</span>
          </v-card-title>
          <div class="cropped-image d-flex justify-center">
            <img :src="cropImg" alt="Cropped Image"/>
          </div>
        </section>
      </div>
    </div>

  </div>
</template>

<script>
  import VueCropper from 'vue-cropperjs';
  import 'cropperjs/dist/cropper.css';
  export default {
      name:'CropImageInput',
      components: {
          VueCropper,
      },
      props: {
          value: null,
          largura: {type: Number, default: 9},
          altura: {type: Number, default: 9},
          subTitulo: ''
      },
      data(){
          return{
              cropImg:'',
              data:null,
              goCrop:false,
              url:'',
              imagemProcessada:''
          }
      },
      mounted() {
          if (this.value){
              this.setImage(this.value)
          }
      },
      watch:{
          value(){
              this.setImage(this.value)
          }
      },
      methods:{
          cropImage() {
              // get image data for post processing, e.g. upload or setting image src
              this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
              this.$emit('recortouImagem', this.dataURLtoFile(this.cropImg, this.value.filename))
          },
          reset() {
              this.$refs.cropper.reset();
          },
          rotate(deg) {
              this.$refs.cropper.rotate(deg);
          },
          setData() {
              if (!this.data) return;
              this.$refs.cropper.setData(JSON.parse(this.data));
          },
          setImage(image) {
              const file = image;
              if (file.type.indexOf('image/') === -1) {
                  alert('Please select an image file');
                  return;
              }
              if (typeof FileReader === 'function') {
                  const reader = new FileReader();
                  reader.onload = (event) => {
                      this.imagemProcessada = event.target.result;
                      // rebuild cropperjs with the updated source
                      this.$refs.cropper?.replace(event.target.result);
                  };
                  reader.readAsDataURL(file);
              } else {
                  alert('Sorry, FileReader API not supported');
              }
          },
          zoom(percent) {
              this.$refs.cropper.relativeZoom(percent);
          },
          toggleCropComponent() {
              this.goCrop = !this.goCrop;
          },
          dataURLtoFile(dataurl, filename) {

              let arr = dataurl.split(','),
                  mime = arr[0].match(/:(.*?);/)[1],
                  bstr = atob(arr[1]),
                  n = bstr.length,
                  u8arr = new Uint8Array(n);

              while(n--){
                  u8arr[n] = bstr.charCodeAt(n);
              }

              return new File([u8arr], filename, {type:mime});
          }
      }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.content {
    flex-direction: column;
}

.actions {
    display: flex;
    gap: 16px;
    justify-content: center;
    margin: 16px 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

.cropper-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cropper-container {
    width: 100% !important;
}

.crop-placeholder {
    width: 100%;
    height: 200px;
    background: #ccc;
}

.cropped-image img {
    max-width: 100%;
}
</style>
