<template>
  <div>

    <v-data-table :items="items" :headers="headers" item-key="dateCreated" :height="height"
                  :items-per-page="itemsPerPage" :search="filtro"
                  :footer-props="{ showFirstLastPage: true, showCurrentPage: true, itemsPerPageText: this.$t('linhas_por_pagina') }"
                  class="elevation-0  py-0" style="padding-bottom: 20px !important;"
                  :no-data-text="noDataText || $t('nenhum_conteudo_disponivel')"
                  :hide-default-footer="hideDefaultFooter" :dense="dense" :custom-filter="customFilter"
    >

      <template v-slot:header.acoes>
        <div style="text-align: right;" v-if="!esconderNovo">
          <v-tooltip bottom>
            <template v-slot:activator="{ on }">
              <v-icon color="secondary" class="ma-1" v-on="on" @click="novo" :disabled="!habilitado">
                mdi-briefcase-plus
              </v-icon>
            </template>
            <span>{{$t('novo')}}</span>
          </v-tooltip>
        </div>
      </template>

      <template v-slot:item.acoes="{ item }">
        <v-tooltip bottom v-if="mostrarSelecionar">
          <template v-slot:activator="{ on }">
            <v-icon color="info" class="mx-1" @click="selecionar(item)" v-on="on" :small="dense">
              mdi-cursor-default-click
            </v-icon>
          </template>
          <span>{{$t('selecionar')}}</span>
        </v-tooltip>
        <v-tooltip bottom v-if="!esconderAbrir">
          <template v-slot:activator="{ on }">
            <v-icon color="accent" class="mx-1" @click="abrir(item)" v-on="on" :small="dense">
              mdi-folder-open-outline
            </v-icon>
          </template>
          <span>{{$t('abrir')}}</span>
        </v-tooltip>
        <v-tooltip bottom v-if="!esconderRemover">
          <template v-slot:activator="{ on }">
            <v-icon color="error" class="mx-1" v-on="on" @click="remover(item)" :disabled="!habilitado"
                    :small="dense">
              mdi-trash-can-outline
            </v-icon>
          </template>
          <span>{{$t('remover')}}</span>
        </v-tooltip>

        <slot name="mais-acoes" :item="item"></slot>

      </template>

    </v-data-table>
  </div>

</template>

<script>
export default {
    name:'ProdutoTable',
    components: {},
    props: {
        headers: {type: Array, default: () => []},
        items: {type: Array, default: () => []},
        itemsPerPage: {type: Number, default: -1},
        filtro: {type: String, default: ''},
        esconderNovo: {type: Boolean, default: false},
        esconderAbrir: {type: Boolean, default: false},
        esconderRemover: {type: Boolean, default: false},
        mostrarSelecionar: {type: Boolean, default: false},
        noDataText: {type: String, default: ""},
        habilitado: {type: Boolean, default: false},
        hideDefaultFooter: {type: Boolean, default: false},
        dense: {type: Boolean, default: false},
        height: {type: [Number, String], default: undefined},
        customFilter: {type: Function},
    },
    methods:{
        novo() {
            this.$emit('novo')
        },

        abrir(item) {
            this.$emit('abrir', item)
        },

        remover(item) {
            this.$emit('remover', item)
        },

        selecionar(item) {
            this.$emit('selecionar', item)
        }
    }
}
</script>

<style scoped>

</style>
