<template>
  <v-chip :filter="filter" :outlined="outlined" :value="valor" v-if="visivel">{{label}}</v-chip>
</template>

<script>
  export default {
      name:'UnaChip',
      props:{
          value: {
              type: [String, Number],
              default: ""
          },
          label: String,
          visualizar: String,

          filter: {
              type: Boolean,
              default: false
          },
          outlined: {
              type: Boolean,
              default: false
          }
      },
      data(){
          return{
              valor : this.value,
              visivel : true
          }
      },
      created() {
          this.visualizarCampo();
      },
      methods:{
          visualizarCampo() {
              this.visivel = true;
              if ((this.visualizar != null && this.visualizar != '')) {
                  this.visivel = false;
                  let permissions = localStorage.getItem('permissions');
                  if (permissions != null) {
                      const perfilUsuario = permissions.split(',');
                      let perfilVisualizar = this.visualizar.split(',');
                      for (let i = 0; i < perfilVisualizar.length; i++) {
                          let perfil = perfilVisualizar[i].trim();
                          for (let p = 0; p < perfilUsuario.length; p++) {
                              if (perfilUsuario[p].trim() == perfil) {
                                  this.visivel = true;
                              }
                          }
                      }
                  }
              }
          }
      }
  }
</script>

<style scoped>

</style>