<template>
  <v-card outlined class="py-3 px-3" :height="height">
    <div class="overline mb-3 py-0">{{titulo}}</div>
    <slot></slot>
  </v-card>
</template>
<script>
  export default{
      name:'UnaCard',
      props: {
          titulo: '',
          height: undefined,
      }
  };
</script>