<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">

  <v-col class="py-0" cols="12" xs="12" :sm="smColunas" v-if="visivel">
    <v-autocomplete :label="label" required :value="valor" @input="alterouValor"
                    :disabled="!editavel || (atributoRegras && atributoRegras.valorAbsoluto)"
                    eager
                    :key="key"
                    :item-text="getItemText"
                    :items="lista"
                    :return-object="true"
                    :loading="loading"
                    @click:clear="alterouValor(null, true)"
                    @click="carregaLista()"
                    @focus="carregaLista()"
                    hide-no-data
                    :rules="rules"
                    :prepend-icon="prependIcon"
                    @change="change"
                    :clearable="clearable"
                    :hint="hint"
                    :persistent-hint="persistentHint"
                    :dense="dense"
                    :solo="solo"
                    :flat="flat"
                    :outlined="outlined"
                    :hide-details="hideDetails"
                    v-bind="$attrs"
                    item-value="id"
                    autocomplete="off"
                    :readonly="readonly"
    >

      <slot v-for="(_, name) in $slots" :name="name" :slot="name" :is/>
      <template v-for="(_, name) in $scopedSlots" :slot="name" slot-scope="slotData">
        <slot :name="name" v-bind="slotData"/>
      </template>

    </v-autocomplete>
  </v-col>

</template>


<script>
  import axios from "axios";
  import {UnaVue} from 'una-vue-app/lib/js/una-vue.js';
  export default {
      name:'UnaComboField',
      props: {
          value: {
              // type: [Object],
              default: null
          },
          habilitado: {
              type: Boolean,
              default: false
          },
          itens: {
              type: [Array, Object],
              default: null
          },
          somenteLeitura: Boolean,
          label: String,
          colunas: String,
          visualizar: String,
          editar: String,
          urlCarregamento: String,
          prependIcon: {
              type: String,
              default: undefined

          },
          clearable: {
              type: Boolean,
              default: false
          },
          hint: {
              type: String,
              default: undefined
          },
          persistentHint: {
              type: Boolean,
              default: false
          },
          mostraCodigo: {
              type: Boolean,
              default: true
          },
          obrigatorio: {
              type: Boolean,
              default: false
          },
          dense: {
              type: Boolean,
              default: false
          },
          outlined: {
              type: Boolean,
              default: false
          },
          atributoRegras: {
              default: null
          },
          hideDetails: {
              type: Boolean
          },
          solo: {
              type: Boolean,
              default: false
          },
          flat: {
              type: Boolean,
              default: false
          },
          itemText: {
              type: String,
              default: null
          },
          readonly: {
              type: Boolean,
              default: false
          },

          itemCodigoText: {
              type: String,
              default: undefined
          }

      },
      data(){
          return{
              valor : this.value,

              smColunas : (this.colunas != null ? parseInt(this.colunas) : 12),
              editavel : false,
              visivel : true,
              habilita : (this.habilitado != null && this.habilitado),
              lista : this.itens != null ? this.itens : [],
              carregado : false,
              rules : [],

              loading : false,

              itemTexto : this.itemText,

              itemCodigoTexto : this.itemCodigoText,

              setouSomenteValor : false,

              key : this.generateRandomNumber()
          }
      },
      created() {
          this.desabilitado = true;
          this.visualizarCampo();
          if (this.habilita) {
              this.editarCampo();
          }
          this.configuraRegras();
      },
      mounted() {
          this.valor = this.value;

          if (this.atributoRegras?.estadosPossiveis && this.atributoRegras.estadosPossiveis.length != 0) {
              this.lista = this.atributoRegras.estadosPossiveis
          }

          if (this.lista.length == 0 && this.value != null) {
              this.setouSomenteValor = true
              this.lista.push(this.value);
          }
      },
      watch:{
          habilita(){
              if (!this.habilita) {
                  this.editavel = false;
              } else {
                  this.visualizarCampo();
                  this.editarCampo();
              }
          },
          obrigatorio(){
              this.configuraRegras()
          },
          'atributoRegras.estadosPossiveis':{
              handler(){
                  this.setouSomenteValor = false
                  this.lista = this.atributoRegras.estadosPossiveis != null ? this.atributoRegras.estadosPossiveis : []

                  this.configuraRegras()
              }
          },
          itens(){
              this.setouSomenteValor = false
              this.lista = this.itens != null ? this.itens : [];
          },
          value(){
              this.valor = this.value;

              if ((this.lista.length == 0 || this.setouSomenteValor) && this.value != null) {
                  this.setouSomenteValor = true
                  this.lista.push(this.value);
              }
          },
          valor(value){
              UnaVue.setDirty();
              this.key = this.generateRandomNumber()
              this.$emit("input", value);
          },
          habilitado(){
              this.habilita = this.habilitado;
          },
          urlCarregamento(){
              this.carregado = false;
          },
      },
      computed: {
          getItemText() {
              return this.texto;
          }
      },
      methods:{
          configuraRegras() {
              this.rules = []
              if (this.obrigatorio && (!this.atributoRegras || !this.atributoRegras.valorAbsoluto)) {
                  this.rules.push(v => (!!v && v.nome != '(vazio)') || `O campo ${this.label} é obrigatório`);
              }
          },
          generateRandomNumber() {
              return Math.random() * (10000 - 1) + 1
          },
          texto(item) {
              let nome = this.itemTexto ? item[this.itemTexto] : item.nomeInternacionalizado || item.nome;
              let codigo = this.itemCodigoTexto ? item[this.itemCodigoTexto] : item.codigo;

              if (this.mostraCodigo && codigo) {
                  return codigo + ' - ' + nome;
              }

              return nome != null ? nome : item;
          },
          change(value) {
              if (value === this.valor) {
                  this.$emit("change", value);
                  if (this.atributoRegras) {
                      this.$emit("alterouCampoRegras", value, this.atributoRegras)
                  }
              }
          },
          visualizarCampo() {
              this.visivel = true;
              if ((this.visualizar != null && this.visualizar != '')) {
                  this.visivel = false;
                  let permissions = localStorage.getItem('permissions');
                  if (permissions != null) {
                      const perfilUsuario = permissions.split(',');
                      let perfilVisualizar = this.visualizar.split(',');
                      for (let i = 0; i < perfilVisualizar.length; i++) {
                          let perfil = perfilVisualizar[i].trim();
                          for (let p = 0; p < perfilUsuario.length; p++) {
                              if (perfilUsuario[p].trim() == perfil) {
                                  this.visivel = true;
                              }
                          }
                      }
                  }
              }
          },
          editarCampo() {
              this.editavel = true;

              if ((this.editar != null && this.editar != '')) {
                  this.editavel = false;
                  let permissions = localStorage.getItem('permissions');
                  if (permissions != null) {
                      const perfilUsuario = permissions.split(',');
                      let perfilEditar = this.editar.split(',');
                      for (let i = 0; i < perfilEditar.length; i++) {
                          var perfil = perfilEditar[i].trim();
                          for (let p = 0; p < perfilUsuario.length; p++) {
                              if (perfilUsuario[p].trim() == perfil) {
                                  this.visivel = true;
                                  this.editavel = true;
                              }
                          }
                      }
                  }
              }
          },
          carregaLista() {

              if (this.urlCarregamento == undefined || this.urlCarregamento == null) {
                  this.$emit("click");
                  return;
              }

              if (this.loading || this.carregado) {
                  this.$emit("click");
                  return;
              }

              this.lista = [];

              console.log("Url Combo:", this.urlCarregamento);

              this.loading = true;
              axios.get(this.urlCarregamento).then(res => {
                  this.lista = res.data;
                  this.setouSomenteValor = false
                  if (this.valor != null) {
                      let idAnterior = this.valor.id;

                      if (idAnterior) {
                          this.valor = null;
                          for (let item of this.lista) {
                              if (item.id === idAnterior) {
                                  this.valor = item;
                                  break;
                              }
                          }
                      }

                  }

                  this.carregado = true;
              }).catch(err => {
                  console.log(err);
              }).finally(() => (this.loading = false));

              this.$emit("click");

          },
          alterouValor(alteracao, viaClearable = false) {
              if (alteracao == null && !viaClearable) {
                  const anterior = this.valor

                  this.$nextTick(() => {
                      this.$emit("input", anterior)
                      this.key = this.generateRandomNumber()
                  })

              } else {
                  this.valor = alteracao
              }
          },
      }
  }
</script>
