<template>
  <v-container fluid>
    <v-row>
      <v-col :cols="vertical ? 12 : 6">
        <una-card :titulo="tituloRecortar">
          <vue-cropper ref="cropper" :aspect-ratio="largura / altura" :src="imagemProcessada" :movable="false"
                       :crop-box-resizable="!tamanhoRecorteFixo"/>
          <v-container fluid>

            <v-row justify="space-around">
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon @click.prevent="reset" color="grey" v-bind="attrs" v-on="on">
                    mdi-lock-reset
                  </v-icon>
                </template>
                <span>{{ $t('resetar') }}</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon @click.prevent="rotate(-90)" color="grey" v-bind="attrs" v-on="on">
                    mdi-arrow-left
                  </v-icon>
                </template>
                <span>{{ $t('girar_para_esquerda') }}</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon @click.prevent="rotate(90)" color="grey" v-bind="attrs" v-on="on">
                    mdi-arrow-right
                  </v-icon>
                </template>
                <span>{{ $t('girar_para_direita') }}</span>
              </v-tooltip>

              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon @click.prevent="cropImage" color="grey" v-bind="attrs" v-on="on">
                    mdi-crop
                  </v-icon>
                </template>
                <span>{{ $t('recortar') }}</span>
              </v-tooltip>
            </v-row>
          </v-container>
        </una-card>
      </v-col>

      <v-col :cols="vertical ? 12 : 6">
        <una-card :titulo="tituloRecortada">
          <v-img :src="cropImg" alt="Cropped Image" contain/>
        </una-card>
      </v-col>
    </v-row>
  </v-container>

</template>

<script>
import VueCropper from 'vue-cropperjs';
import 'cropperjs/dist/cropper.css';
import {UnaVue} from "una-vue-app/lib/js/una-vue.js";
import UnaCard from "una-vue-app/lib/js/components/UnaCard.vue";

export default {
    name:'UnaCropImageInput',
    components: {VueCropper, UnaCard},
    props: {
        value: null,
        largura: {type: Number, default: 9},
        altura: {type: Number, default: 9},
        vertical: {type: Boolean, default: false},
        tamanhoRecorteFixo: {type: Boolean, default: false},
        tituloRecortar: {
            type: String,
            default: "Recorte a imagem"
        },
        tituloRecortada: {
            type: String,
            default: "Imagem selecionada"
        },
    },
    data(){
        return{
            cropImg:null,
            data:null,
            imagemProcessada:''
        }
    },
    mounted() {
        this.setImage(this.value)
    },
    watch:{
        value(imagem){
            this.setImage(imagem)
        }
    },
    methods:{
        setImage(image) {
            if(!image) {
                this.imagemProcessada = null;
                this.cropImg = null;
                return
            }

            const file = image;
            if (file.type.indexOf('image/') === -1) {
                console.info("file.type: ", file.type)
                UnaVue.erro(this.$t('selecione_um_arquivo_de_imagem'))
                return;
            }
            if (typeof FileReader === 'function') {
                const reader = new FileReader();
                reader.onload = (event) => {
                    this.imagemProcessada = event.target.result;
                    // rebuild cropperjs with the updated source
                    this.$refs.cropper?.replace(event.target.result);
                };
                reader.readAsDataURL(file);
            } else {
                alert('Sorry, FileReader API not supported');
            }
        },
        // zoom(percent) {
        //     this.$refs.cropper.relativeZoom(percent);
        // },
        cropImage() {
            // get image data for post processing, e.g. upload or setting image src
            this.cropImg = this.$refs.cropper.getCroppedCanvas().toDataURL();
            const fileName = this.value?.name ? this.value.name : "imagem_selecionada"
            this.$emit('recortouImagem', this.dataURLtoFile(this.cropImg, fileName))
        },
        reset() {
            this.$refs.cropper.reset();
        },
        rotate(deg) {
            this.$refs.cropper.rotate(deg);
        },
        dataURLtoFile(dataurl, filename) {

            let arr = dataurl.split(','),
                mime = arr[0].match(/:(.*?);/)[1],
                bstr = atob(arr[1]),
                n = bstr.length,
                u8arr = new Uint8Array(n);

            while(n--){
                u8arr[n] = bstr.charCodeAt(n);
            }

            return new File([u8arr], filename, {type:mime});
        }
    }
}
</script>


<style scoped>

</style>