<template>
  <v-col class="py-0 ma-0" cols="12" xs="12" :sm="smColunas" v-if="visivel">
    <v-checkbox
            class="py-0"
            v-model="valor"
            :label="label"
            required
            :disabled="!editavel"
            :error="error"
            :hide-details="hideDetails"
            :rules="rules"
            v-bind="$attrs"
    >
    </v-checkbox>
  </v-col>
</template>

<script>
  import {UnaVue} from 'una-vue-app/lib/js/una-vue.js';

  export default {
      name:'UnaCheckBox',
      props: {
          value: {
              type: Boolean,
              default: false
          },
          habilitado: Boolean,
          label: String,
          colunas: String,
          visualizar: String,
          editar: String,
          error: {
              type: Boolean,
              default: false
          },
          hideDetails: {
              type: Boolean,
              default: false
          },
          obrigatorio: {
              type: Boolean,
              default: false
          }
      },
      data(){
          return{
              valor : this.value,
              smColunas : (this.colunas != null?parseInt(this.colunas):12),
              editavel : false,
              visivel : true,
              habilita : (this.habilitado != null && this.habilitado),
              rules : []
          }
      },
      created() {
          this.desabilitado = true;
          this.visualizarCampo();
          if (this.habilita) {
              this.editarCampo();
          }
      },
      mounted() {
          this.configuraRegras();
      },
      watch:{
          value(){
              this.valor = this.value;
          },
          habilita(){
              this.habilitarCampo()
          },
          habilitado(){
              this.habilitarCampoPropriedade()
          },
          valor(newValor){
              this.onPropertyChanged(newValor)
          },
          obrigatorio(){
              this.configuraRegras();
          }
      },
      methods:{
          configuraRegras() {
              this.rules = []
              if (this.obrigatorio) {
                  this.rules.push(v => !!v || `O campo ${this.label} é obrigatório`);
              }
          },
          habilitarCampoPropriedade() {
              this.habilita = this.habilitado;
          },
          habilitarCampo() {
              if (!this.habilita) {
                  this.editavel = false;
              } else {
                  this.visualizarCampo();
                  this.editarCampo();
              }
          },
          visualizarCampo() {
              this.visivel = true;
              if ((this.visualizar != null && this.visualizar != '')) {
                  this.visivel = false;
                  let permissions = localStorage.getItem('permissions');
                  if (permissions != null) {
                      const perfilUsuario = permissions.split(',');
                      let perfilVisualizar = this.visualizar.split(',');
                      for (let i = 0; i < perfilVisualizar.length; i++) {
                          let perfil = perfilVisualizar[i].trim();
                          for (let p = 0; p < perfilUsuario.length; p++) {
                              if (perfilUsuario[p].trim() == perfil) {
                                  this.visivel = true;
                              }
                          }
                      }
                  }
              }
          },
          editarCampo() {
              this.editavel = true;

              if ((this.editar != null && this.editar != '')) {
                  this.editavel = false;
                  let permissions = localStorage.getItem('permissions');
                  if (permissions != null) {
                      const perfilUsuario = permissions.split(',');
                      let perfilEditar = this.editar.split(',');
                      for (let i = 0; i < perfilEditar.length; i++) {
                          var perfil = perfilEditar[i].trim();
                          for (let p = 0; p < perfilUsuario.length; p++) {
                              if (perfilUsuario[p].trim() == perfil) {
                                  this.visivel = true;
                                  this.editavel = true;
                              }
                          }
                      }
                  }
              }
          },
          onPropertyChanged(value) {
              UnaVue.setDirty();
              this.$emit("input", value);
          }
      }
  }
</script>
