<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">

  <v-col cols="12" xs="12" :sm="smColunas" v-if="visivel" class="py-0">
    <v-menu :close-on-content-click="false" :nudge-right="40" min-width="290px" offset-y transition="scale-transition"
            v-model="menu">

      <template v-slot:activator="{ on }">

        <v-text-field
            :disabled="!editavel"
            :label="label"
            :rules="rules"
            readonly
            v-model="valorData"
            v-on="on" :clearable="clearable"
            v-bind="$attrs"
            @click="click"
            @click:clear="clear">
          <template v-slot:prepend>
            <slot name="prepend"/>

            <v-menu :close-on-content-click="false" :nudge-right="20" min-width="200px" max-width="200px" offset-y
                    transition="scale-transition" v-model="adicionaDiasMenu">

              <template v-slot:activator="{ on }">
                <v-icon :disabled="!editavel" v-on="on">mdi-calendar</v-icon>
              </template>

              <v-card>
                <v-card-title style="background-color: #434343; color: #ffffff" v-text="$t('adicionar_dias')"/>

                <v-card-text>
                  <v-text-field :disabled="!editavel" v-model="diasParaAdicionar" :maxlength="4"
                                :suffix="$tc('dias', diasParaAdicionar)"/>
                </v-card-text>

                <v-card-actions>
                  <v-spacer/>

                  <v-btn text @click="adicionaDiasMenu = false"> {{ $t('cancelar') }}</v-btn>

                  <v-btn color="secondary" @click="adicionarDiasAData"> {{ $t('ok') }}</v-btn>

                </v-card-actions>

              </v-card>
            </v-menu>
          </template>

          <template v-slot:append>
            <slot name="append"/>
          </template>

          <template v-slot:append-outer>
            <slot name="append-outer"/>
          </template>
        </v-text-field>

      </template>

      <v-date-picker @input="menu = false" :locale="locale" v-model="date" @change="change"/>

    </v-menu>
  </v-col>
</template>


<script>
import {UnaVue} from 'una-vue-app/lib/js/una-vue.js';

export default {
  name:'UnaDateField',
  props: {
    value: {
      type: String,
      default: ""
    },
    habilitado: {
      type: Boolean,
      default: false
    },
    somenteLeitura: Boolean,
    label: String,
    colunas: String,
    visualizar: String,
    editar: String,
    obrigatorio: {
      type: Boolean,
      default: false
    },
    atributoRegras: {
      default: null
    },
    clearable: {
      type: Boolean,
      default: false
    }

  },
  data(){
    return{
      menu : false,
      date : this.value,
      valorData : null,
      locale : "pt-BR",

      smColunas : (this.colunas != null ? parseInt(this.colunas) : 12),
      editavel : false,
      visivel : true,
      habilita : (this.habilitado != null && this.habilitado),
      rules : [],

      adicionaDiasMenu : false,
      diasParaAdicionar : 0
    }
  },
  created() {
    this.desabilitado = true,
        this.visualizarCampo()
    if (this.habilita) {
      this.editarCampo();
    }
    this.configuraRegras()
  },
  mounted() {
    this.formatDate();
  },
  watch:{
    value(){
      this.date = this.value;
      this.formatDate();
    },
    date(){
      UnaVue.setDirty();
      this.formatDate();
      this.$emit("input", this.date);
    },
    habilitado(){
      this.habilita = this.habilitado;
    },
    habilita(){
      if (!this.habilita) {
        this.editavel = false;
      } else {
        this.visualizarCampo();
        this.editarCampo();
      }
    },
    obrigatorio(){
      this.configuraRegras();
    },
    '$i18n.locale':{
      formataData() {
        this.formatDate()
      }
    }
  },
  methods:{
    change(value) {
      this.$emit("change", value);
      if (this.atributoRegras) {
        this.$emit("alterouCampoRegras", value, this.atributoRegras)
      }
    },
    configuraRegras() {
      this.rules = []
      if (this.obrigatorio) {
        this.rules.push(v => !!v || `O campo ${this.label} é obrigatório`);
      }
    },
    visualizarCampo() {
      this.visivel = true;
      if ((this.visualizar != null && this.visualizar != '')) {
        this.visivel = false;
        let permissions = localStorage.getItem('permissions');
        if (permissions != null) {
          const perfilUsuario = permissions.split(',');
          let perfilVisualizar = this.visualizar.split(',');
          for (let i = 0; i < perfilVisualizar.length; i++) {
            let perfil = perfilVisualizar[i].trim();
            for (let p = 0; p < perfilUsuario.length; p++) {
              if (perfilUsuario[p].trim() == perfil) {
                this.visivel = true;
              }
            }
          }
        }
      }
    },
    editarCampo() {
      this.editavel = true;

      if ((this.editar != null && this.editar != '')) {
        this.editavel = false;
        let permissions = localStorage.getItem('permissions');
        if (permissions != null) {
          const perfilUsuario = permissions.split(',');
          let perfilEditar = this.editar.split(',');
          for (let i = 0; i < perfilEditar.length; i++) {
            let perfil = perfilEditar[i].trim();
            for (let p = 0; p < perfilUsuario.length; p++) {
              if (perfilUsuario[p].trim() == perfil) {
                this.visivel = true;
                this.editavel = true;
              }
            }
          }
        }
      }
    },
    clear(value) {
      this.$emit('clear', value)
    },
    click(value){
      this.$emit('click', value)
    },
    adicionarDiasAData() {
      let diasParaAdicionar = parseInt(this.diasParaAdicionar.toString())
      let data = this.date.toString()
      if (typeof diasParaAdicionar == 'number' && !isNaN(diasParaAdicionar)) {
        let [year, month, day] = []
        if (!data) {
          const dataAtual = new Date()
          year = dataAtual.getFullYear()
          month = dataAtual.getMonth() + 1
          day = dataAtual.getDate()
        } else {
          [year, month, day] = data.split("-");
        }

        let dataAtual = new Date(year, month - 1, day, 0, 0, 0)

        dataAtual.setDate(dataAtual.getDate() + diasParaAdicionar)

        this.date = dataAtual.toISOString().split('T')[0]
        this.adicionaDiasMenu = false;
        this.change(dataAtual.toISOString().split('T')[0])
      } else {
        console.log("Não é um número: ", this.diasParaAdicionar)
      }
    },


    formatDate() {
      this.locale = this.$i18n.locale;
      if (!this.date) {
        this.valorData = null
        return
      }
      const [year, month, day] = this.date.split("-");
      if (this.$i18n.locale === 'en-US') {
        this.valorData = `${month}/${day}/${year}`;
      } else {
        this.valorData = `${day}/${month}/${year}`;
      }
    }
  }
}

</script>
