<template>
  <v-col xs="12" cols="12" :sm="smColunas" v-if="visivel" class="py-0">
    <v-text-field
            v-if="comValor"
            :ref="random"
            v-model.lazy="valor"
            v-money="moneyConfig"
            :label="label"
            required :disabled="!editavel || (atributoRegras && atributoRegras.valorAbsoluto)"
            :readonly="readonly" :prefix="prefix"
            :suffix="suffix"
            :rules="rules"
            @blur="focusLost()"
            @keydown.enter="enterPressed()"
            @change="change"
            @focus="focouCampo"
            :reverse="reverse"
            :clearable="clearable"
            @click:clear="limpar()"
            :hint="getCampoHint"
            :persistent-hint="persistentHint"
            :dense="dense"
            :rounded="rounded"
            v-bind="$attrs"
            maxlength="18"
            :background-color="regraCor()"
    >
      <template v-slot:prepend>
        <slot name="prepend"></slot>
      </template>
      <template v-slot:append>
        <slot name="append"></slot>
      </template>
      <template v-slot:append-outer>
        <slot name="append-outer"></slot>
      </template>
      <template v-slot:prepend-inner>
        <slot name="prepend-inner"></slot>
      </template>
    </v-text-field>


    <v-text-field
            v-else
            v-model="valor"
            :label="label"
            required :disabled="!editavel || (atributoRegras && atributoRegras.valorAbsoluto)"
            :readonly="readonly"
            :rules="rules"
            :prefix="prefix"
            :suffix="suffix"
            :reverse="reverse"
            @blur="focusLost()"
            @keydown="comValor = true"
            @keydown.enter="enterPressed()"
            @change="change"
            @focus="focouCampo"
            :hint="getCampoHint"
            :persistent-hint="persistentHint"
            :dense="dense"
            :rounded="rounded"
            v-bind="$attrs"
            maxlength="18"
            :background-color="regraCor()"
    >
      <template v-slot:prepend>
        <slot name="prepend"></slot>
      </template>
      <template v-slot:append>
        <slot name="append"></slot>
      </template>
      <template v-slot:append-outer>
        <slot name="append-outer"></slot>
      </template>
      <template v-slot:prepend-inner>
        <slot name="prepend-inner"></slot>
      </template>
    </v-text-field>


  </v-col>

</template>

<script>
import {VMoney} from 'v-money'
import {UnaVue} from 'una-vue-app/lib/js/una-vue.js';
export default {
    name:'UnaDecimalField',
    directives: {
        money: VMoney,
    },
    props: {
        value: {
            type:  [Number, String],
            default: 0
        },
        decimais: {
            type: [Number, String],
            default: 2
        },
        separadorDecimal: {
            type: String,
        },
        habilitado: {
            type: Boolean,
            default: false
        },
        label: String,
        colunas: String,
        visualizar: String,
        editar: String,
        readonly: {
            type: Boolean,
            default: false
        },
        prefix: String,
        suffix: String,
        obrigatorio: {
            type: Boolean,
            default: false
        },
        maiorQueZero: {
            type: Boolean,
            default: false
        },
        cnpj: {
            type: Boolean,
            default: false
        },
        reverse: {
            type: Boolean,
            default: true
        },
        clearable: {
            type: Boolean,
            default: false
        },
        atributoRegras: {
            default: null
        },
        valorMaximo: {
            default: false
        },
        valorMinimo: {
            default: false
        },
        dense: {
            type: Boolean,
            default: false
        },
        rounded: {
            type: Boolean,
            default: false
        },
        obrigaDirty: {
            type: Boolean,
            default: false
        }
    },
    data(){
        return{
            persistentHint : false,
            random : "una-money-"+Math.random(),

            separadorInteiro : (this.separadorDecimal == null? ',' : this.separadorDecimal),

            moneyConfig:{
                decimal: this.separadorInteiro,
                thousands: (this.separadorInteiro == ','?'.':','),
                precision: parseInt(this.decimais),
                min: Number.MIN_SAFE_INTEGER,
                max: Number.MAX_SAFE_INTEGER
            },

            valor: null,
            original: null,
            smColunas: (this.colunas != null?parseInt(this.colunas):12),
            editavel: false,
            visivel: true,
            habilita: this.habilitado,
            rules: [],
            comValor: false,

            valorJaAlterado: null,

            jaFocou: false
        }
    },
    created() {
        this.desabilitado = true;
        this.visualizarCampo();
        if (this.habilita) {
            this.editarCampo();
        }

        if (!(this.value === null || this.value === '')) {
            this.valor = this.montaValor(this.value);
            this.original = this.extraiValor(this.valor);
            this.comValor = true;
        }
    },
    mounted() {
        this.configuraRegras();
    },
    watch:{
        value(){
            this.onInputChanged()
        },
        obrigatorio(){
            this.configuraRegras();
        },
        maiorQueZero(){
            this.configuraRegras();
        },
        valorMaximo(){
            this.configuraRegras
        },
        valorMinimo(){
            this.configuraRegras
        },
        valor(){
            this.onPropertyChanged()
        },
        habilitado(){
            this.habilitarCampoPropriedade()
        },
        habilita(){
            this.habilitarCampo()
        },
        '$i18n.locale':{
            handler(){
                this.formataSeparador()
            }
        }
    },
    computed:{
        getCampoHint(){
            return this.campoHint()
        }
    },
    methods:{
        //mudou Value
        onInputChanged() {
            // console.log("["+this.label+"] <<< "+this.value);
            this.valorJaAlterado = null

            if (this.value === null || this.value === '') {
                // console.log("["+this.label+"] LIMPANDO CAMPOS");

                this.comValor = false;
                this.valor = null;
                this.original = null;
            } else {
                this.valor = this.montaValor(this.value);
                this.original = this.extraiValor(this.valor);

                if (this.comValor) {
                    if (this.$refs[this.random] != undefined) {
                        this.$refs[this.random].$el.getElementsByTagName('input')[0].value = this.montaValor(this.value);
                    }
                }

                this.$nextTick(() => {
                    this.habilitaMascara();
                });
            }
        },
        change(value) {
            let val = this.extraiValor(value);
            if (this.decimais > 0 && !(val === null)) {
                val = val.slice(0, (parseInt(this.decimais) * -1)) + "." + val.slice((parseInt(this.decimais) * -1))
            }
            if (val === '' || val === null) {
                val = 0;
            }
            let result = parseFloat(val)
            // console.log("["+this.label+"] CHANGE!!!!! >>> "+result);

            if (this.valorJaAlterado !== result) {
                this.valorJaAlterado = result
                this.$emit("change", result);
            }
        },
        habilitaMascara() {
            // console.log(">> "+this.valor);
            if (!this.comValor) {
                this.comValor = true;
                let valorOriginal = this.value
                // console.log("["+this.label+"] HABILITANDO MASCARA ["+this.value+"]");
                this.$nextTick(() => {
                    if (this.$refs[this.random] != undefined) {
                        this.$refs[this.random].$el.getElementsByTagName('input')[0].value = this.montaValor(valorOriginal);
                    }
                });
            }

        },
        extraiValor(v) {
            if (v === null) {
                return null
            }
            return (v.startsWith("-")?"-":"")+(new String(v).replace(/[^0-9]/g, ''));
        },
        montaValor(v) {
            if (v === null) {
                return null;
            }

            let val = new String(parseFloat(v).toFixed(this.decimais));
            let indexPonto = val.indexOf(".");
            if (indexPonto > -1) {
                let adicionar = (parseInt(this.decimais) + indexPonto) - val.length + 1;
                if (adicionar > 0) {
                    val = val + ("0".repeat(adicionar));
                }
            } else {
                if (this.decimais > 0) {
                    val = val + this.separadorInteiro + "0".repeat(parseInt(this.decimais))
                }
            }
//            console.log("["+this.label+"] # MONTOU VALOR: "+val);

            return val;
        },
        //mudou obrigatorio || maiorQueZero || valorMaximo || valorMinimo
        configuraRegras() {
            this.rules = []
            if (this.obrigatorio) {
                this.rules.push(v => !!v || `O campo ${this.label} é obrigatório`);
            }

            if (this.maiorQueZero) {
                this.rules.push(v => parseFloat(this.extraiValor(v)) > 0 || `O campo ${this.label} deve ser maior que zero`);
            }

            if(this.valorMaximo){
                let valorMax = this.extraiValor(this.montaValor(this.valorMaximo))
                this.rules.push(v => parseFloat(this.extraiValor(v)) <= valorMax || `O valor máximo para ${this.label} é ${this.valorMaximo} `);
            }

            if(this.valorMinimo){
                let valorMin = this.extraiValor(this.montaValor(this.valorMinimo))
                this.rules.push(v => parseFloat(this.extraiValor(v)) >= valorMin || `O valor mínimo para ${this.label} é ${this.valorMinimo} `)
            }

            if(this.obrigaDirty){
                this.rules.push(v => this.jaFocou || `É necessário conferir o campo ${this.label} para continuar`)
            }
        },
        converteParaFloat(v) {
            let val = this.extraiValor(v);
            if (this.decimais > 0 && !(val === null)) {
                val = val.slice(0, (parseInt(this.decimais) * -1)) + "." + val.slice((parseInt(this.decimais) * -1))
            }

            if (val === '' || val === null) {
                val = 0;
            }
            return parseFloat(val);
        },
        focusLost() {
            let val = this.converteParaFloat(this.valor);
            if (this.atributoRegras && val != this.atributoRegras.padrao) {
                this.valor = this.montaValor(this.validaCampo(val, this.atributoRegras))
            }
            this.$emit("blur");
        },
        enterPressed() {
            this.$emit("enterPressed");
        },
        visualizarCampo() {
            this.visivel = true;
            if ((this.visualizar != null && this.visualizar != '')) {
                this.visivel = false;
                let permissions = localStorage.getItem('permissions');
                if (permissions != null) {
                    const perfilUsuario = permissions.split(',');
                    let perfilVisualizar = this.visualizar.split(',');
                    for (let i = 0; i < perfilVisualizar.length; i++) {
                        let perfil = perfilVisualizar[i].trim();
                        for (let p = 0; p < perfilUsuario.length; p++) {
                            if (perfilUsuario[p].trim() == perfil) {
                                this.visivel = true;
                            }
                        }
                    }
                }
            }
        },
        editarCampo() {
            this.editavel = true;
            if ((this.editar != null && this.editar != '')) {
                this.editavel = false;
                let permissions = localStorage.getItem('permissions');
                if (permissions != null) {
                    const perfilUsuario = permissions.split(',');
                    let perfilEditar = this.editar.split(',');
                    for (let i = 0; i < perfilEditar.length; i++) {
                        var perfil = perfilEditar[i].trim();
                        for (let p = 0; p < perfilUsuario.length; p++) {
                            if (perfilUsuario[p].trim() == perfil) {
                                this.visivel = true;
                                this.editavel = true;
                            }
                        }
                    }
                }
            }
        },
        limpar() {
            this.valor = null;
        },
        onPropertyChanged() {
            UnaVue.setDirty();
            // console.log("["+this.label+"] > "+this.valor);
            let val = this.extraiValor(this.valor);
            if (val != this.original) {
                if (this.decimais > 0 && !(val === null)) {
                    val = val.slice(0, (parseInt(this.decimais) * -1)) + "." + val.slice((parseInt(this.decimais) * -1))
                }

                if (val === '' || val === null) {
                    val = 0;
                }

                let result = parseFloat(val)
                // console.log("["+this.label+"] WATCH >>> "+result);
                this.$emit("input", result);
            }
        },
        habilitarCampoPropriedade() {
            this.habilita = this.habilitado;
            if(this.obrigaDirty && !this.habilitado){
                this.jaFocou = false
            }
        },
        habilitarCampo() {
            if (!this.habilita) {
                this.editavel = false;
            } else {
                this.visualizarCampo();
                this.editarCampo();
            }

        },
        formataSeparador() {
            if (this.separadorDecimal != null) {
                return;
            }
            if (this.$i18n.locale == 'en-US') {
                this.separadorInteiro = '.'
            } else {
                this.separadorInteiro = ','
            }

            this.moneyConfig = {
                ...
                    {
                        decimal: this.separadorInteiro,
                        thousands: (this.separadorInteiro == ',' ? '.' : ',')
                    }
            }
        },
        validaCampo(evento, atributoRegras) {
            if (evento === undefined || evento === null || evento === '') {
                return atributoRegras.padrao
            }
            let restricoes = atributoRegras.restricoes;
            if (restricoes) {
                if (restricoes.menor !== undefined && evento < parseFloat(restricoes.menor)) {
                    return atributoRegras.padrao
                }
                if (restricoes.maior !== undefined && evento > parseFloat(restricoes.maior)) {
                    return atributoRegras.padrao
                }
                if (restricoes.maiorOuIgual !== undefined && evento >= parseFloat(restricoes.maiorOuIgual)) {
                    return atributoRegras.padrao
                }
                if (restricoes.menorOuIgual !== undefined && evento <= parseFloat(restricoes.menorOuIgual)) {
                    return atributoRegras.padrao
                }
            }
            atributoRegras.padrao = evento;

            this.$emit("alterouCampoRegras", evento, this.atributoRegras)
            return evento
        },
        focouCampo() {
            this.jaFocou = true
            this.$emit('focus', true)
        },
        regraCor(){
            if (this.$attrs['background-color']) {
                return this.$attrs['background-color']
            }
            if(this.obrigaDirty && this.habilitado && !this.jaFocou){
                return 'grey lighten-2'
            }
            return ''
        },
        campoHint(){
            if (!this.atributoRegras) {
                return ""
            }
            let restricoes = this.atributoRegras.restricoes
            let hint = "";
            if (restricoes) {

                if (restricoes.menor || restricoes.menorOuIgual) {
                    hint += "min.: " + (restricoes.menor || (" > " + restricoes.menorOuIgual))
                }
                if (restricoes.maior || restricoes.maiorOuIgual) {
                    if (hint) {
                        hint += " / "
                    }
                    hint += "max.: " + (restricoes.maior || (" < " + restricoes.maiorOuIgual))
                }
            }
            if (hint) {
                this.persistentHint = true
            } else {
                this.persistentHint = false
            }
            return hint
        }
    }
}

</script>
