<template>
  <v-dialog :persistent="persistent" @click:outside="clicouCancelar()" @keydown.esc="clicouCancelar()" v-model="visivel" :width="width"
            :overlay-opacity="overlayOpacity" :hide-overlay="hideOverlay">
    <v-card outlined :height="height">
      <v-card-title class="grey lighten-4">
        <v-icon color="secondary" class="pr-3">mdi-information-outline</v-icon>
        <span v-text="titulo"></span>
      </v-card-title>

      <v-divider/>
      <div class="py-3 px-3" v-html="html" v-if="html"></div>
      <div class="py-3 px-3">
        <slot></slot>
      </div>


      <v-card-actions class="grey lighten-4">
        <div class="flex-grow-1"></div>
        <v-btn :disabled="disableButtons" text v-if="botaoExtra" @click="clicouBotaoExtra()" depressed style="margin-right: 10px;"> {{$t(botaoExtra)}}</v-btn>
        <v-btn :disabled="disableButtons" text v-if="simNao" @click="clicouNao()"> {{$t('nao')}}</v-btn>
        <v-btn :disabled="disableButtons" text v-else-if="!somenteOk" @click="clicouCancelar()"> {{$t('cancelar')}}</v-btn>

        <v-btn :disabled="disableButtons" color="primary" v-if="simNao" @click="clicouSim()" depressed> {{$t('sim')}}</v-btn>
        <v-btn :disabled="disableButtons" color="primary" v-else-if="!somenteCancelar" @click="clicouOk()" depressed> {{$t(textoOk)}}</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>

</template>

<script>
  export default {
      name:'UnaDialog',
      props:{
          value: false,
          titulo: '',
          height: undefined,
          persistent: {
              type: Boolean,
              default: false
          },
          botaoExtra: {
              type: String,
              default: null
          },
          textoOk: {
              type: String,
              default: "ok"
          },
          simNao: {
              type: Boolean,
              default: false
          },
          somenteOk: {
              type: Boolean,
              default: false
          },
          somenteCancelar: {
              type: Boolean,
              default: false
          },
          disableButtons: {
              type: Boolean,
              default: false
          },
          width: {
              type: String,
              default: '500px'
          },
          html: {
              type: String
          },
          overlayOpacity: {
              default: undefined
          },
          hideOverlay: {
              default: false
          }

      },
      data() {
          return {
              visivel: this.value
          };
      },
      mounted() {
          this.visivel = this.value;
      },
      watch:{
          value(newValue){
              this.visivel = newValue;
          },
          visivel(newVisivel){
              this.$emit("input", newVisivel);
          }
      },
      methods:{
          /** Evento de click ao clicar no botão cancelar ou quando clicar fora do dialog e ele não for persistente*/
          clicouCancelar() {
              if (!this.persistent) {
                  this.visivel = false;
                  this.$emit('click:cancelar')
              }
          },

          clicouSim() {
              this.$emit('click:sim', true)
          },

          clicouNao() {
              this.$emit('click:nao', false)
          },

          clicouOk() {
              this.$emit('click:ok')
          },

          clicouBotaoExtra() {
              this.$emit('click:extra')
          }
      }
  }
</script>

<style scoped>
.customFont {
    font-size: 12pt;
    font-weight: 600;
}
</style>
