<template>
  <v-form ref="form">
    <v-row dense class="custom-row mb-3 d-flex justify-center">
      <v-col cols="12" dense class="d-flex flex-wrap">
        <v-col class="custom-col" v-for="(filtro, index) in filtros" :key="index">
          <v-autocomplete v-if="filtro.tipo === 'v-autocomplete'"
                          v-model="filtro.valor"
                          :label="filtro.label"
                          :items="filtro.itens"
                          :disabled="!filtro.habilitado"
                          :prepend-icon="filtro.prependIcon"
                          :clearable="filtro.clearable"
                          @change="onChange(filtro.model, $event)"
                          @clear="onClear(filtro)"
                          :hide-details="filtro.hideDetails"
                          :item-text="filtro.itemText ?? 'nome'"
                          :small-chips="filtro.smallChips"
                          :return-object="filtro.returnObject"
                          :item-value="filtro.itemValue ?? 'codigo'"
                          :deletable-chips="filtro.deletableChips"
                          :class="'px-0 '+filtro.class"
                          :multiple="filtro.multiple"/>
          <component
              v-else
              :is="componentes[filtro.tipo]"
              v-model="filtro.valor"
              :label="filtro.label"
              :clearable="filtro.clearable"
              :habilitado="filtro.habilitado"
              :hide-details="filtro.hideDetails"
              :prepend-icon="filtro.prependIcon"
              :itens="filtro.itens"
              :multiple="filtro.multiple"
              :class="'px-0 '+filtro.class"
              @change="onChange(filtro.model, $event)"
              @clear="onClear(filtro)"
              v-bind="filtro.props" />
        </v-col>
      </v-col>
      <v-col cols="2">
        <div class="wrap-actions">
          <v-btn color="primary" depressed @click="clicouBuscar">
            {{ $t('pesquisar') }}
          </v-btn>
        </div>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import UnaDateField from "./UnaDateField";
import UnaTextField from "./UnaTextField.vue";
import UnaComboField from "./UnaComboField.vue";
import UnaDecimalField from "./UnaDecimalField.vue";
import {UnaVue} from "../una-vue";

export default {
  name: "UnaFiltrosMultiplos",
  props: {
    filtros: {
      type: Array,
      required: true,
      default: () => [

      ]
    },
    mensagemFormularioInvalido: {
      type: String,
      default: "Por favor, preencher os campos obrigatórios para prosseguir com a pesquisa."
    }
  },
  components: {
    UnaDateField,
    UnaTextField,
    UnaComboField,
    UnaDecimalField
  },
  data() {
    return {
      componentes: {
        UnaDateField,
        UnaTextField,
        UnaComboField,
        UnaDecimalField
      },
      filtrosJson: {}
    };
  },
  methods: {
    clicouBuscar() {
      if (!this.$refs.form.validate()){
        UnaVue.erro(this.mensagemFormularioInvalido)
        return
      }
      this.$emit('buscar')
    },
    onChange(model, valor) {
      const filtroIndex = this.filtros.findIndex(filtro => filtro.model === model);
      if (filtroIndex !== -1) {
        this.filtros[filtroIndex].valor = valor;
      }
      const filtrosConsolidados = {};
      this.filtros.forEach(filtro => {
        if (filtro.valor) {
          filtrosConsolidados[filtro.model] = filtro.valor;
        }
      });
      this.$emit('change', filtrosConsolidados);
    },
    onClear(filtro){
      let filtroSelecionado = this.filtros.find(item => item.model === filtro.model)
      const filtroSimplificado = {
        model: filtro.model,
        tipo: filtro.tipo,
        valor: null,
      }
      filtroSelecionado.valor = null
      this.$emit('clear', filtroSimplificado);
    }
  }
};
</script>

<style scoped lang="scss">
.wrap-actions {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  width: 100%;

  button {
    margin-top: auto;
    margin-bottom: 12px;
    width: 100%;
  }

}
.custom-row{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.custom-col{
  max-width: 33%;
  min-width: 33%;
}
</style>