<template>

  <una-dialog v-model="visivel" @click:ok="enviarArquivo" textoOk="enviar_arquivo"
              :titulo="$t('escolha_o_arquivo')" :disableButtons="disableForm">
    <v-row>
      <v-col cols="12" class="py-0">
        <v-file-input v-model="fileInput" :accept="accept" :label="$t('selecione_o_arquivo')" show-size
                      :disabled="disableForm"/>
        <v-progress-linear v-model="progresso" v-show="progresso > 0"/>
      </v-col>
    </v-row>
  </una-dialog>

</template>
<script>
  import axios from "axios";
  import UnaDialog from './UnaDialog.vue';
  import {UnaVue} from "una-vue-app/lib/js/una-vue";

  export default {
      name:'UnaFileUploadDialog',
      components: {UnaDialog},
      props: {
          value: false,
          url: {
              type: String
          },
          accept: {
              type: String,
              default: "*"
          },
          emitirEnvioArquivo: {
              type: Boolean,
              default: false
          },
          maxFileSize: {
              type: Number
          }
      },
      data(){
          return{
              visivel: this.value,
              fileInput: null,
              progresso: 0,
              disableForm: false

          }
      },
      watch:{
          value(){
              this.visivel = this.value;
              if (this.visivel) {
                  this.fileInput = null;
                  this.progresso = 0;
              }
          },
          fileInput(newFile){
              if (newFile) {
                  this.$emit('selecionou-arquivo', newFile)
              }
          },
          visivel(value){
              this.$emit("input", value);
          }
      },
      methods:{
          onInputChanged() {
              this.visivel = this.value;
              if (this.visivel) {
                  this.fileInput = null;
                  this.progresso = 0;
              }
          },
          checkFileSize() {
              if (!this.maxFileSize) return true

              const fileSize = this.fileInput.size / 1024 // in kbs

              if (fileSize > this.maxFileSize) {
                  UnaVue.aviso(this.$t("o_arquivo_nao_pode_ultrapassar_o_tamanho", [this.maxFileSize]))
                  return false
              }
              return true
          },
          enviarArquivo() {
              if (!this.checkFileSize()) return

              if (this.emitirEnvioArquivo) {
                  this.$emit("enviar-arquivo", this.fileInput)
                  return
              }

              if (this.fileInput == null || this.fileInput == undefined || this.fileInput == '') {
                  return;
              }

              this.disableForm = true;

              let formData = new FormData();
              formData.append('arquivo', this.fileInput);

              this.progresso = 0;
              UnaVue.processando()
              axios.post(this.url,
                  formData,
                  {
                      headers: {
                          'Content-Type': 'multipart/form-data'
                      },
                      onUploadProgress: (progressEvent) => {
                          this.progresso = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total));
                      }
                  }
              ).then(res => {
                  UnaVue.pararProcessando()
                  this.$emit('uploaded', res)
              }).catch(error => {
                  UnaVue.pararProcessando()
                  if (error.response?.data?.message) {
                      UnaVue.erro(this.$t(error.response.data.message))
                  } else {
                      UnaVue.erro(this.$t(error));
                  }
                  console.log("Erro enviando arquivo!");
                  console.log(error);
                  this.progresso = 0;
                  this.disableForm = false;
              }).finally(() => {
                  this.disableForm = false;
              });
          }
      }
  }
</script>
<style>
.customInput {
    height: 45px;
    font-size: 12pt;
    font-weight: 600;
    width: 100%
}

</style>
