<template>
  <una-slot-dialog v-model="visivel" width="1100px" :titulo="$t('escolha_o_arquivo')">
    <template #default>
      <v-row>
        <v-col cols="12" class="py-0">
          <v-file-input v-model="fileInput" :accept="accept" :label="$t('selecione_o_arquivo')" show-size
                        :disabled="disableForm" :clearable="false">
          </v-file-input>
          <v-progress-linear v-model="progresso" v-show="progresso > 0"></v-progress-linear>
        </v-col>

        <v-col cols="12">
          <una-crop-image-input :value="image" @recortouImagem="recortouImagem" :subTitulo="$t('imagem_recortada')" :largura="largura" :altura="altura"
                                :tamanho-recorte-fixo="tamanhoRecorteFixo" :vertical="vertical" v-if="image"
                                :titulo-recortar="tituloRecortar" :titulo-recortada="tituloRecortada" />
        </v-col>
      </v-row>
    </template>
    <template #prepend>
      <v-btn :disabled="disableForm" color="primary" @click="enviarImagemInteira" depressed> {{$t('enviar_inteira')}}</v-btn>
    </template>
    <template #append>
      <v-btn :disabled="disableForm" text @click="clicouCancelar" depressed> {{$t('cancelar')}}</v-btn>
      <v-btn :disabled="disableForm" color="primary" @click="enviarImagemRecortada" depressed> {{$t('enviar_recorte')}}</v-btn>
    </template>
  </una-slot-dialog>
</template>

<script>
import UnaSlotDialog from "una-vue-app/lib/js/components/UnaSlotDialog"
import UnaCropImageInput from "una-vue-app/lib/js/components/UnaCropImageInput";
import axios from "axios";
import {UnaVue} from "una-vue-app/lib/js/una-vue.js";

export default {
    name:'UnaImageUploadCropper',
    components: {UnaCropImageInput, UnaSlotDialog},
    props: {
        value: {
            type: Boolean, default: false
        },
        imagem: {
            default: null
        },
        url: {
            type: String
        },
        accept: {
            type: String,
            default: "image/*"
        },
        largura: {type: Number, default: 32},
        altura: {type: Number, default: 9},
        returnImageOnSend: {type: Boolean, default: false},
        tamanhoRecorteFixo:  {type: Boolean, default: false},
        vertical: {type: Boolean, default: false},
        tituloRecortar: {type: String},
        tituloRecortada: {type: String}
    },
    data(){
        return{
            imagemRecortada: null,
            image: null,
            visivel: this.value,
            fileInput: null,
            progresso: 0,
            disableForm: false
        }
    },
    mounted() {
        this.setImage()
    },
    watch:{
        value(){
            this.visivel = this.value;
            if (this.visivel) {
                this.disableForm = false;
                this.fileInput = this.imagem || null;
                this.progresso = 0;
            }
        },
        visivel(){
            this.$emit("input", this.visivel);
        },
        fileInput(){
            this.setImage()
        }
    },
    methods:{
        setImage(){
            this.image = this.fileInput
        },
        enviarImagemRecortada() {

            if (!this.imagemRecortada) {
                UnaVue.erro(this.$t('necessario_selecionar_imagem_recortada'))
                return;
            }

            this.uploadImagem(this.imagemRecortada)
        },
        recortouImagem(imagem) {
            this.imagemRecortada = imagem
        },
        enviarImagemInteira() {
            if(!this.image){
                UnaVue.erro(this.$t('nao_foi_possivel_encontrar_imagem'))
                return
            }

            this.uploadImagem(this.image)
        },
        uploadImagem(imagem) {
            this.disableForm = true;

            if(this.returnImageOnSend){
                this.$emit('onsend', imagem)
                this.visivel = false;
                return
            }

            let formData = new FormData();
            formData.append('arquivo', imagem);

            this.progresso = 0;

            axios.post(this.url,
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: (progressEvent) => {
                        this.progresso = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total));
                    }
                }
            ).then(res => {
                this.$emit('uploaded', res)
                this.visivel = false;
                this.disableForm = false;

            }).catch(error => {
                console.log("Erro enviando arquivo!");
                console.log(error);
                this.progresso = 0;
                this.disableForm = false;
            }).finally(() => {
                this.disableForm = false;
            });
        },
        clicouCancelar() {
            this.visivel = false;
        }
    }
}
</script>

<style scoped>

</style>