<template>
  <v-container>
    <v-row dense align="center" class="px-3">
      <v-text-field
              @click="() => { !entidadeQuePossuiImagem[nomeDaPropriedadeImagem] ? dialogCarregarImagem = true : '' }"
              readonly :value="entidadeQuePossuiImagem[nomeDaPropriedadeImagem] ? $t('imagem_vinculada') : null"
              :key="keyImagem" :label="$t('imagem')" prepend-icon="mdi-paperclip">
        <template v-slot:append>
          <v-icon color="grey" v-if="entidadeQuePossuiImagem[nomeDaPropriedadeImagem]"
                  @click="removerImagem(nomeDaPropriedadeImagem)">
            mdi-close
          </v-icon>
        </template>
      </v-text-field>

      <una-file-upload-dialog v-model="dialogCarregarImagem" accept="image/*"
                              :url="getUrlSalvamentoImagem"
                              @uploaded="onImagemLoaded($event, nomeDaPropriedadeImagem)"/>
      <v-btn icon @click="exibirImagemSerie" v-if="entidadeQuePossuiImagem[nomeDaPropriedadeImagem]">
        <v-icon>mdi-image</v-icon>
      </v-btn>
    </v-row>
    <una-dialog v-model="dialogExibirImagem" :titulo="$t('imagem')" somente-cancelar>
      <v-card outlined height="400" class="d-flex justify-center align-center">
        <v-img :src="imagemExibicao" :key="keyImagemExibicao" :transition="false"/>
      </v-card>
    </una-dialog>
  </v-container>
</template>

<script>
import UnaFileUploadDialog from "una-vue-app/lib/js/components/UnaFileUploadDialog";
import {UnaVue} from "una-vue-app/lib/js/una-vue";
import UnaDialog from "una-vue-app/lib/js/components/UnaDialog"
import axios from "axios";

export default {
    name:'UnaImageField',
    components: {
        UnaFileUploadDialog, UnaDialog
    },
    props: {
        entidadeQuePossuiImagem: {
            type: Object,
            required: true
        },
        nomeDaPropriedadeImagem: {
            type: String,
            required: true
        },
        urlControllerImage: {
            type: String,
            required: true
        },
        emitImageOnUpload: {
            type: Boolean,
            default: true
        },
        nomeMetodoSalvarController: {
            type: String,
            default: 'salvar'
        },
        parametroImagemAoSalvar: {
            type: String,
            default: 'imagem'
        }
    },
    data(){
        return{
            dialogCarregarImagem:false,
            keyImagem:null,

            keyImagemExibicao:null,
            imagemExibicao:null,
            dialogExibirImagem:false,
            objetoDaImagem : this.entidadeQuePossuiImagem
        }
    },
    watch:{
        entidadeQuePossuiImagem(){
            this.objetoDaImagem = this.entidadeQuePossuiImagem
        },
        objetoDaImagem(){
            this.$emit("update:entidadeQuePossuiImagem", this.objetoDaImagem)
        }

    },
    computed:{
        getUrlSalvamentoImagem(){
            return this.urlSalvamentoImagem;
        }
    },
    methods:{
        onImagemLoaded(res, nomeDaPropridadeImagem) {
            if (!nomeDaPropridadeImagem) {
                UnaVue.erro(this.$t("nao_foi_possivel_encontrar_tipo_imagem_entre_em_contato_ti"))
                return
            }

            if (this.emitImageOnUpload) {
                console.log("Entrou no onupload")
                this.$emit("onUpload", {nomeDaPropridadeImagem: nomeDaPropridadeImagem, id: res.data.id})
                this.dialogCarregarImagem = false
            }
            //TODO Implementar else para salvamento direto sem emitir
        },
        urlSalvamentoImagem() {
            let url = this.urlControllerImage
            if (this.nomeMetodoSalvarController.length > 0) {
                url = this.urlControllerImage.endsWith('/') ? this.urlControllerImage : this.urlControllerImage + '/'
            }
            return `${url}${this.nomeMetodoSalvarController}?${this.parametroImagemAoSalvar}=${this.objetoDaImagem[this.nomeDaPropriedadeImagem] ? this.objetoDaImagem[this.nomeDaPropriedadeImagem].id : ''}`
        },
        removerImagem(nomeDaPropriedadeImagem) {
            if (confirm(this.$t('deseja_realmente_remover'))) {
                UnaVue.processando()
                const url = this.urlControllerImage.endsWith('/') ? this.urlControllerImage : this.urlControllerImage + '/'

                axios.delete(url + this.objetoDaImagem[nomeDaPropriedadeImagem].id, {params: {nomeDaPropriedadeImagem: nomeDaPropriedadeImagem}}).then(() => {
                    this.$set(this.objetoDaImagem, nomeDaPropriedadeImagem, null)
                    this.keyImagem = Math.random() * 1000
                    UnaVue.sucesso(this.$t('imagem_removida_sucesso'))
                }).catch(err => {
                    console.log(err)
                    if (err.response?.data?.message) {
                        UnaVue.erro(this.$t(err.response.data.message))
                    } else if (err.response?.data) {
                        UnaVue.erro(this.$t(err.response.data))
                    } else {
                        UnaVue.erro(err)
                    }
                }).finally(() => {
                    UnaVue.pararProcessando()
                })
            }
        },
        exibirImagemSerie() {
            UnaVue.processando()
            const url = this.urlControllerImage.endsWith('/') ? this.urlControllerImage : this.urlControllerImage + '/'

            axios.get(url + this.objetoDaImagem[this.nomeDaPropriedadeImagem].id, {responseType: 'arraybuffer'}).then(res => {
                if (res.data.byteLength > 0) {
                    let img = btoa(new Uint8Array(res.data).reduce((data, byte) => data + String.fromCharCode(byte), ''));
                    this.imagemExibicao = `data:${res.headers['content-type'].toLowerCase()};base64,${img}`
                    this.keyImagemExibicao = Math.random() * 1000
                } else {
                    this.imagemExibicao = null
                    this.keyImagemExibicao = null
                }
                this.dialogExibirImagem = true
            }).finally(() => {
                UnaVue.pararProcessando()
            })
        }
    }
}
</script>

<style scoped>

</style>