<template>

    <una-dialog v-model="visivel" @click:ok="enviarArquivo" :textoOk="$t('enviar_arquivo')"
        :titulo="$t('escolha_o_arquivo')" :disableButtons="disableForm">
        <v-row>
            <v-col cols="12" class="py-0">
                <v-file-input v-model="fileInput" :accept="accept" :label="$t('selecione_o_arquivo')" show-size
                    :disabled="disableForm">
                </v-file-input>
                <v-progress-linear v-model="progresso" v-show="progresso > 0"></v-progress-linear>
            </v-col>

            <v-col cols="12">
                <crop-image-input :value="image" @recortouImagem="recortouImagem" :subTitulo="$t('imagem_recortada')" :largura="largura" :altura="altura"/>
            </v-col>
        </v-row>
    </una-dialog>

</template>
<script>
import axios from "axios";
import UnaDialog from './UnaDialog.vue';
import CropImageInput from './CropImageInput.vue';

export default {
    name:'UnaImageUploadDialog',
    components: {
        UnaDialog,
        CropImageInput
    },
    props: {
        value: false,
        url: {
            type: String
        },
        accept: {
            type: String,
            default: "*"
        },
        largura: {type: Number, default: 9},
        altura: {type: Number, default: 9},

    },
    data(){
        return{
            image: '',
            visivel: this.value,
            fileInput: null,
            progresso: 0,
            disableForm: false
        }
    },
    mounted() {
        this.setImage()
    },
    watch:{
        value(){
            this.visivel = this.value;
            if (this.visivel) {
                this.fileInput = null;
                this.progresso = 0;
            }
        },
        visivel(value){
            this.$emit("input", value);
        },
        fileInput(){
            this.setImage()
        }
    },
    methods:{
        setImage() {
            this.image = this.fileInput
        },
        enviarArquivo() {
            if (this.fileInput == null || this.fileInput == undefined || this.fileInput == '') {
                return;
            }

            this.disableForm = true;

            let formData = new FormData();
            formData.append('arquivo', this.fileInput);

            this.progresso = 0;

            axios.post(this.url,
                formData,
                {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    },
                    onUploadProgress: (progressEvent) => {
                        this.progresso = parseInt(Math.round((progressEvent.loaded * 100) / progressEvent.total));
                    }
                }
            ).then(res => {
                this.$emit('uploaded', res)
            }).catch(error => {
                console.log("Erro enviando arquivo!");
                console.log(error);
                this.progresso = 0;
                this.disableForm = false;
            }).finally(() => {
                this.disableForm = false;
            });
        },
        recortouImagem(imagem) {
            this.fileInput = imagem
        }
    }
}
</script>
<style>
.customInput {
    height: 45px;
    font-size: 12pt;
    font-weight: 600;
    width: 100%
}
</style>
