<template>
  <v-dialog :persistent="persistent" :scrollable="scrollable" :width="width" v-model="visivel"
            :overlay-opacity="overlayOpacity" :hide-overlay="hideOverlay">
    <v-overlay opacity="0" v-model="loading"></v-overlay>
    <v-card>
      <v-card-title class="grey lighten-4 title d-flex">
        <v-icon :color="corIcone" class="pr-3 justify-start">
          {{ iconeTitulo }}
        </v-icon>

        <span class="justify-center">{{ titulo }}</span>

        <v-spacer v-if="loading"/>
        <v-progress-circular :indeterminate="loading" class="justify-end" color="primary" size="30" v-if="loading"
                             width="4"></v-progress-circular>
      </v-card-title>

      <v-card-text>
        <slot/>
      </v-card-text>

      <v-divider/>
      <v-card-actions>
        <slot name="prepend"/>
        <v-spacer/>
        <slot name="append"/>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
      name:'UnaSlotDialog',
      components: {},
      props: {
          value: {
              type: Boolean,
              required: true
          },
          width: {
              default: '800px'
          },
          persistent: {
              default: true
          },
          titulo: {
              default: 'Enviar'
          },
          iconeTitulo: {
              default: 'mdi-information-outline'
          },
          scrollable: {
              default: true
          },
          corIcone: {
              default: null
          },
          loading: {
              default: false
          },
          overlayOpacity: {
              default: undefined
          },
          hideOverlay: {
              default: false
          }
      },
      data(){
          return{
              visivel: this.value
          }
      },
      watch:{
          value(){
              this.visivel = this.value
          },
          visivel(value){
              this.$emit('input', value)
          }
      }
  }
</script>

<style scoped>

</style>
