<template>

  <v-toolbar-title style="color: white !important; margin-left: -20px;">

    <template v-if="navegacao">

      <v-breadcrumbs :items="navegacao" dark large class="px-3">

        <template v-slot:divider>
          <v-icon class="px-0 ml-n2">mdi-chevron-right</v-icon>
        </template>

        <template v-slot:item="{ item }">

          <v-breadcrumbs-item class="ml-n2" @click="clicouNoLink(item.link)"
                              :class="{cursorPointer : item.link != null}">

            <v-tooltip bottom v-if="$vuetify.breakpoint.smAndDown && navegacao.indexOf(item) < navegacao.length -1">
              <template v-slot:activator="{ on }">
                <span class="textoBranco" v-on="on">...</span>
              </template>
              <span>{{ item.texto }}</span>
            </v-tooltip>


            <router-link :to="item.link" class="textoBranco" v-else-if="item.link" :event="''">
              {{ item.texto && item.texto.length > 40 ? (item.texto.substr(0, 40) + "...") : item.texto }}
            </router-link>
            <span class="textoBranco"
                  v-else> {{ item.texto && item.texto.length > 40 ? (item.texto.substr(0, 40) + "...") : item.texto }}</span>

          </v-breadcrumbs-item>

        </template>

      </v-breadcrumbs>


    </template>

    <template v-else>
      {{ titulo }}
    </template>

  </v-toolbar-title>

</template>
<script>
export default {
    nome:'UnaToolbarTitle',
    props: {
        value: {
            type: [Array, String],
            default: null
        },
    },
    data(){
        return{
            titulo: null,
            navegacao: null,
        }
    },
    mounted() {
        if (this.value != undefined && Array.isArray(this.value)) {
            this.navegacao = this.value;
            this.titulo = null;
        } else {
            this.navegacao = null;
            this.titulo = this.value;
        }
    },
    watch: {
        value(newValue) {
            this.onInputChanged(newValue)
        }
    },
    methods: {
        onInputChanged(newValue) {

            if (this.value != undefined && Array.isArray(newValue)) {
                this.navegacao = this.value;
                this.titulo = null;
            } else {
                this.navegacao = null;
                this.titulo = this.value;
            }

        },
        clicouNoLink(link) {
            if (link != null) {
                this.$emit('clicouNoLink', link)
            }
        }
    }
}
</script>
<style>
.customInput {
    height: 45px;
    font-size: 12pt;
    font-weight: 600;
    width: 100%
}

.cursorPointer {
    cursor: pointer
}

.textoBranco {
    color: white !important;;
}
</style>
