<template>
  <v-col xs="12" cols="12" :sm="smColunas" v-if="visivel" class="py-0">
    <v-text-field
            v-if="mascara"
            :ref="random_element"
            v-model="valor"
            :label="label"
            required :disabled="!editavel"
            :readonly="readonly"
            :prefix="prefix"
            :suffix="suffix"
            :rules="rules"
            v-mask="maskFormat"
            @blur="focusLost()"
            @click="$emit('click')"
            @keydown.enter="enterPressed()"
            @change="change"
            :clearable="clearable"
            :hint="hint"
            :persistent-hint="persistentHint"
            :hide-details="hideDetails"
            :maxlength="maxlength"
            v-bind="$attrs"
            :counter="exibirLimitadorCaracteres"
    >
      <template v-slot:prepend>
        <slot name="prepend"></slot>
      </template>
      <template v-slot:append>
        <slot name="append"></slot>
      </template>
      <template v-slot:append-outer>
        <slot name="append-outer"></slot>
      </template>
    </v-text-field>


    <v-text-field
            v-else
            v-model="valor"
            :label="label"
            required :disabled="!editavel"
            :readonly="readonly" :prefix="prefix"
            :suffix="suffix"
            :rules="rules"
            :prepend-icon="prependIcon"
            @blur="focusLost()"
            @click="$emit('click')"
            @keydown.enter="enterPressed()"
            @change="change"
            :clearable="clearable"
            :hint="hint"
            :persistent-hint="persistentHint"
            :hide-details="hideDetails"
            :maxlength="maxlength"
            v-bind="$attrs"
            :counter="exibirLimitadorCaracteres"
    >
      <template v-slot:prepend>
        <slot name="prepend"></slot>
      </template>
      <template v-slot:append>
        <slot name="append"></slot>
      </template>
      <template v-slot:append-outer>
        <slot name="append-outer"></slot>
      </template>
    </v-text-field>
  </v-col>

</template>

<script>
import {mask} from 'vue-the-mask'
import {UnaVue} from 'una-vue-app/lib/js/una-vue.js';

export default {
    name:'UnaTextField',
    directives: {
        mask,
    },
    props: {
        value: {
            type: [String, Number],
            default: ""
        },
        habilitado: {
            type: Boolean,
            default: false
        },
        label: String,
        colunas: String,
        visualizar: String,
        editar: String,
        readonly: {
            type: Boolean,
            default: false
        },
        prefix: String,
        suffix: String,
        obrigatorio: {
            type: Boolean,
            default: false
        },
        cnpj: {
            type: Boolean,
            default: false
        },
        cpf: {
            type: Boolean,
            default: false
        },
        cep: {
            type: Boolean,
            default: false
        },
        telefone: {
            type: Boolean,
            default: false
        },
        avt: {
            type: Boolean,
            default: false
        },
        numero: {
            type: Boolean,
            default: false
        },
        prependIcon: {
            type: String,
            default: undefined

        },
        clearable: {
            type: Boolean,
            default: false
        },
        hint: {
            type: String,
            default: undefined
        },
        persistentHint: {
            type: Boolean,
            default: false
        },
        semCodigo: {
            type: Boolean,
            default: false
        },
        hideDetails: {
            type: Boolean
        },
        atributoRegras: {
            default: null
        },
        maxlength: {
            type: String,
            default: "150"
        },
        exibirLimitadorCaracteres: {
            type: Boolean,
            default: false
        },
    },
    data(){
        return{
            random_element: "una-money-"+Math.random(),

            valor: this.value,
            smColunas: (this.colunas != null ? parseInt(this.colunas) : 12),
            editavel: false,
            visivel: true,
            habilita: this.habilitado,
            rules: [],
            maskFormat: null,
            mascara: false
        }
    },
    created() {
        this.desabilitado = true;

        if (this.cnpj) {
            this.maskFormat = '##.###.###/####-##';
        }

        if (this.cpf) {
            this.maskFormat = '###.###.###-##';
        }

        if (this.telefone) {
            this.maskFormat = '(##) #####-####';
        }

        if (this.cep) {
            this.maskFormat = '#####-###'
        }

        if (this.avt) {
            this.maskFormat = '#####/##'
        }

        if (this.numero) {
            this.maskFormat = '############'
        }

        this.habilitaMascara();

        this.visualizarCampo();

        if (this.habilita) {
            this.editarCampo();
        }

        this.configuraRegras();

    },
    watch:{
        value(){
            this.valor = this.value;
            this.habilitaMascara();
        },
        valor(value){
            UnaVue.setDirty();
            this.$emit("input", value);
        },
        obrigatorio(){
            this.configuraRegras();
        },
        habilitado(){
            this.habilita = this.habilitado;
        },
        habilita(){
            if (!this.habilita) {
                this.editavel = false;
            } else {
                this.visualizarCampo();
                this.editarCampo();
            }
        }
    },
    methods:{
        change(value) {
            this.$emit("change", value);
        },
        configuraRegras() {
            this.rules = []
            if (this.obrigatorio) {
                this.rules.push(v => !!v || `O campo ${this.label} é obrigatório`);
            }
        },
        mask() {
            return (this.cnpj ||this.cpf || this.telefone || this.cep || this.avt || this.numero);
        },
        habilitaMascara() {
            if (this.mask() && !(this.maskFormat === null) &&  !this.mascara) {
                if (!(this.valor === null) && this.valor != '' && this.valor != undefined) {
                    this.$nextTick(() => {
                        this.mascara = true;
                    })
                }
            }
        },
        focusLost() {
            this.$emit("alterouCampoRegras", this.valor, this.atributoRegras)
            this.$emit("blur");
        },
        enterPressed() {
            console.log('clicou enter');
            this.$emit("enterPressed");
        },
        visualizarCampo() {
            this.visivel = true;
            if ((this.visualizar != null && this.visualizar != '')) {
                this.visivel = false;
                let permissions = localStorage.getItem('permissions');
                if (permissions != null) {
                    const perfilUsuario = permissions.split(',');
                    let perfilVisualizar = this.visualizar.split(',');
                    for (let i = 0; i < perfilVisualizar.length; i++) {
                        let perfil = perfilVisualizar[i].trim();
                        for (let p = 0; p < perfilUsuario.length; p++) {
                            if (perfilUsuario[p].trim() == perfil) {
                                this.visivel = true;
                            }
                        }
                    }
                }
            }
        },
        editarCampo() {
            this.editavel = true;

            if ((this.editar != null && this.editar != '')) {
                this.editavel = false;
                let permissions = localStorage.getItem('permissions');
                if (permissions != null) {
                    const perfilUsuario = permissions.split(',');
                    let perfilEditar = this.editar.split(',');
                    for (let i = 0; i < perfilEditar.length; i++) {
                        var perfil = perfilEditar[i].trim();
                        for (let p = 0; p < perfilUsuario.length; p++) {
                            if (perfilUsuario[p].trim() == perfil) {
                                this.visivel = true;
                                this.editavel = true;
                            }
                        }
                    }
                }
            }
        },
    }
}
</script>
