<template>
  <div>
    <v-toolbar color="primary" dark :max-height="height" flat />
    <v-card class="mx-2 mx-md-6 mb-3" :style="'margin-top: -'+height+';' + ($slots.top ? '': 'padding-top: 2px')" >
      <slot name="top"></slot>
      <v-overlay :value="loading" opacity="0"/>
      <div class="py-0 mx-4 d-flex" v-if="header">
        <v-icon>{{icon}}</v-icon>
        <v-divider vertical class="mx-3 my-3"/>
        <v-col class="py-0 px-0">
          <input v-model="valor" :placeholder="placeholder" v-if="searchable" @keyup.enter="$emit('enterPressed')"
                 class="customInput text--secondary" maxlength="150"
          >
          <input v-else :placeholder="placeholder" readonly class="customInput"
          >
        </v-col>


        <v-btn icon class="my-1" v-if="searchable" disabled>
          <v-icon>mdi-magnify</v-icon>
        </v-btn>
        <slot name="append"></slot>


      </div>
      <v-divider v-if="header"/>
      <v-progress-linear :active="loading" color="primary" indeterminate></v-progress-linear>

      <slot></slot>
    </v-card>
  </div>
</template>
<script>
  export default {
    nome:'UnaToolbarCard',
    components: {},
    props: {
        value: {
            type: [String, Number],
            default: ""
        },
        icon: String,
        header: {
            type: Boolean,
            default: true
        },
        placeholder: String,
        searchable: {
            type: Boolean,
            default: false
        },
        height: {
            type: [String, Number],
            default: '47px'
        },
        loading: {
            type: Boolean,
            default: false
        }
    },
    watch:{
        value(){
            this.valor = this.value;
        },
        valor(value){
            this.$emit("input", value);
        }
    },
    data(){
        return{
            message: 'aa',
            valor: this.value
        }
    }
  }
</script>
<style>
.customInput {
    height: 45px;
    font-size: 12pt;
    font-weight: 600;
    width: 100%
}

</style>
